<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
           <a class="navbar-brand" href="/home">Online Banking</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto m-auto">
                   <li class="nav-item m-auto">
                       <a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item m-auto">
                       <a class="nav-link" href="/accounts">Accounts</a>
                   </li>
                   <li class="nav-item m-auto">
                       <a class="nav-link" href="/deposits">Deposits</a>
                   </li>
                   <li class="nav-item m-auto">
                       <a class="nav-link" href="/withdraws">Withdraws</a>
                   </li>
                   <li class="nav-item m-auto">
                       <a class="nav-link" href="/transfers">Transfers</a>
                   </li>
               </ul>
           </div>
       </div>
    </nav>
</header>